#menu {
    padding: 0.3em;
    opacity: 0.7;
    background-color: pink;

}

#menu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;

}
#menu img {
    width: 4em;
}

#menu ul li:hover { 
    /* text-align: center; */
    /* display: flex; */
    /* background-color: white; */
}

#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: large;
}

#menu ul li a:hover {
    color:white;
}